PORT=5000

NODE_ENV=development

MONGO_URI=
MONGODB_URL=

CLIENT_URL=http://localhost:5173

FRONTEND_URLS=https://kartsho.com,https://www.kartsho.com

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

EMAIL_USER=
EMAIL_PASS=

HR_EMAIL=
JWT_SECRET=
